.bg-full-width {
    --color-background: 247, 247, 247;
}

.media-content-wrap > div + div {
    margin-top: 32px;
}

.about-text-content > * + * {
    margin-top: 16px;
}

.deferred-poster-content {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 200px;
    display: flex;
    align-items: center;
    z-index: 2;
}

.deferred-poster-button {
    border: 1px solid rgba(0, 0, 0, 1);
    width: 120px;
    height: 120px;
    background: transparent;
    border-radius: 50%;
}

.poster-content-text {
    max-width: 500px;
    margin-left: 32px;
}

.video-section-media {
    display: block;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.about-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.about-grid .grid-text {
    order: 9999;
}

.about-grid .grid-text.order-reverse {
    order: -9999;
}

.about-grid .about-text-content {
    padding-top: 60px;
}

.about-text-content.place-self {
    place-self: start end;
    padding-left: 100px;
}

.order-reverse .about-text-content.place-self {
    place-self: start start;
    padding-right: 100px;
    padding-left: 0;
}

.bg-full-width {
    background-color: rgba(var(--color-background), 1);
    padding: 80px 0;
}

.about-accordian {
    display: block;
}

.about-accordian > div + div {
    margin-top: 16px;
}

.about-acc-item:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 16px;
}

.counter-up-header {
    text-align: center;
}

.counter-up-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 48px;
}

.counter-up-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.newsletter-style-3 {
    display: flex;
    align-items: center;
    background: #C3E4E7;
}

.newsletter-style-3 .newsletter-content > * + * {
    margin-top: 24px;
}

.newsletter-style-3 .newsletter-content {
    min-width: 425px;
    width: 425px;
    margin-left: 120px;
}

.newsletter-subheading {
    margin-bottom: 8px;
}

.newsletter-style-3 .newsletter-form {
    background-color: #73AEB4;
    border-radius: 0;
}

.newsletter-btn {
    width: 54px;
    min-width: 54px;
    background-color: rgba(var(--color-background), 1);
    color: rgba(var(--color-foreground), 1);
    height: 48px;
    border: none;
    margin-right: 3px;
}