.bg-full-width {
    --color-background: 247, 247, 247;
}

.media-content-wrap > div + div {
    margin-top: 32px;
}

.about-text-content > * + * {
    margin-top: 16px;
}

.media-content-wrap .about-text-content {
    max-width: 90%;
}

.deferred-poster-content {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 200px;
    display: flex;
    align-items: center;
    z-index: 2;
}

.deferred-poster-button {
    border: 1px solid rgba(0, 0, 0, 1);
    width: 120px;
    height: 120px;
    background: transparent;
    border-radius: 50%;
}

.poster-content-text {
    max-width: 500px;
    margin-left: 32px;
}

.video-section-media {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.about-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--bs-gutter-x);
    row-gap: 24px;
}

.about-grid .grid-image {
    display: flex;
}

.about-grid .grid-image img {
    object-fit: cover;
    object-position: center;
}

.about-grid .grid-text {
    order: 9999;
}

.about-grid .grid-text.order-reverse {
    order: -9999;
}

.about-grid .about-text-content {
    padding-top: 60px;
}

.about-text-content.place-self {
    place-self: start end;
    padding-left: 80px;
}

.order-reverse .about-text-content.place-self {
    place-self: start start;
    padding-right: 100px;
    padding-left: 0;
}

.bg-full-width {
    background-color: rgba(var(--color-background), 1);
    padding: 80px 0;
}

.about-accordian {
    display: block;
    margin-top: 32px;
}

.about-accordian > div + div {
    margin-top: 16px;
}

.about-acc-item:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 16px;
}

.counter-up-header {
    text-align: center;
}

.counter-up-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 48px;
}

.counter-up-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.newsletter-style-3 {
    display: flex;
    align-items: center;
    background: #C3E4E7;
}

.newsletter-style-3 .newsletter-content-inner > * + * {
    margin-top: 24px;
}

.newsletter-content,
.newsletter-image {
    width: 50%;
}

.newsletter-style-3 .newsletter-content-inner {
    max-width: 425px;
    margin-left: 100px;
}

.newsletter-style-3.row-reverse .newsletter-content-inner {
    margin-left: 50px;
}

.newsletter-subheading {
    margin-bottom: 8px;
}

.newsletter-style-3 .newsletter-form {
    background-color: #73AEB4;
    border-radius: 0;
    justify-content: space-between;
}

.newsletter-btn {
    width: 54px;
    min-width: 54px;
    background-color: rgba(var(--color-background), 1);
    color: rgba(var(--color-foreground), 1);
    height: 48px;
    border: none;
    margin-right: 3px;
}
// About Style 2
.about-style-2 .deferred-poster-content {
    position: static;
    transform: none;
    margin: 0;
}

.about-style-2 .about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: inherit;
}

.team-info {
    text-align: center;
    margin-top: 16px;
}

@media (max-width: 991px) {
    .deferred-poster-content {
        margin-left: 80px;
    }

    .count-number.text_42,
    .poster-heading,
    .about-heading {
        font-size: 32px;
    }

    .newsletter-style-3 .newsletter-text,
    .counter-up-text.text_16,
    .about-text-list .text_16,
    .about-text {
        font-size: 14px;
    }

    .poster-content-text {
        max-width: 350px;
    }

    .deferred-poster-button {
        width: 90px;
        height: 90px;
    }

    .deferred-poster-button .icon_40 {
        width: 32px;
        height: 32px;
    }

    .about-text-content.place-self {
        padding-left: 0;
    }

    .order-reverse .about-text-content.place-self {
        padding-right: 0;
        padding-left: 0;
    }

    .about-grid .about-text-content {
        padding-top: 0;
    }

    .newsletter-header .section-heading,
    .about-text-content .section-heading {
        font-size: 28px;
    }

    .newsletter-subheading,
    .count-text.text_20,
    .about-acc-item .text_18 {
        font-size: 16px;
    }

    .poster-text,
    .about-acc-item .button-cta,
    .about-acc-item .text_14 {
        font-size: 13px;
    }

    .newsletter-style-3 .newsletter-content-inner > * + * {
        margin-top: 14px;
    }

    .newsletter-style-3 .newsletter-content-inner {
        margin-left: 40px;
        margin-right: 10px;
    }
}

@media (max-width: 767px) {
    .count-number.text_42, 
    .poster-heading, .about-heading {
        font-size: 28px;
    }

    .count-text.text_20,
    .newsletter-style-3 .newsletter-text, 
    .counter-up-text.text_16, 
    .about-text-list .text_16, 
    .about-text {
        font-size: 13px;
    }

    .deferred-poster-content {
        margin-left: 40px;
    }

    .poster-content-text {
        max-width: 300px;
        margin-left: 20px;
    }

    .deferred-poster-button {
        width: 70px;
        height: 70px;
    }

    .poster-text, 
    .about-acc-item .button-cta, 
    .about-acc-item .text_14 {
        font-size: 12px;
    }

    .about-grid {
        display: flex;
        flex-direction: column;
    }

    .about-grid .grid-text.order-reverse {
        order: 9999; 
    }

    .newsletter-subheading, 
    .count-text.text_20, 
    .about-acc-item .text_18 {
        font-size: 16px;
    }

    .newsletter-style-3 {
        flex-direction: column;
    }

    .newsletter-content, 
    .newsletter-image {
        width: 100%;
    }

    .newsletter-style-3 .newsletter-content-inner {
        padding: 30px 0;
    }
}

@media (max-width: 575px) {
    .newsletter-header .section-heading, 
    .about-text-content .section-heading,
    .count-number.text_42, 
    .poster-heading, .about-heading {
        font-size: 24px;
    }

    .deferred-poster-button {
        width: 60px;
        height: 60px;
    }

    .deferred-poster-content {
        margin-left: 16px;
    }

    .poster-content-text {
        max-width: 200px;
        margin-left: 10px;
    }

    .poster-heading {
        font-size: 18px;
    }

    .count-text.text_20 {
        font-size: 12px;
        text-align: center;
    }

    .newsletter-style-3 .newsletter-content-inner {
        margin-left: 16px;
    }


}