.announcement-bar {
    background-color: #000;
    padding: 10px 0;
}

.announcement-has-three-block .text,
.announcement-has-single-block .text {
    text-align: center;
}

.announcement-bar .announcement-meta-wrap {
    display: flex;
    justify-content: flex-end;
}

.announcement-contact {
    display: flex;
    gap: 12px;
}

.announcement-bar .text {
    color: var(--color-secondary);
}

.announcement-meta {
    display: flex;
    position: relative;
    gap: 24px;
}

.announcement-meta > div + div:before {
    content: '';
    background: #fff;
    position: absolute;
    width: 1px;
    height: 16px;
    top: 50%;
    left: 48%;
    transform: translateY(-50%);
    opacity: 0.7;
}

.language-list-option > .text,
.currency-list-option > .text {
    color: var(--color-primary);
}

.flag {
    min-width: 20px;
    max-width: 20px;
    margin-right: 4px;
}

.language-list,
.currency-list {
    min-width: auto;
    padding: 8px;
}

@media (max-width: 991px) {
    .announcement-bar .text_16 {
        font-size: 14px;
    }
}