.anounce-bg-black{
    --color-background: 0, 0, 0;
    --color-foreground: 255, 255, 255;
    --color-link: 0, 0, 0;
}

.announcement-bar {
    background-color: rgba(var(--color-background), 1);
    color: rgba(var(--color-foreground), 1);
    padding: 10px 0;
}

.announcement-has-three-block .announce-text,
.announcement-has-single-block .announce-text {
    text-align: center;
}

.announcement-bar .announcement-meta-wrap {
    display: flex;
    justify-content: flex-end;
}

.announcement-contact {
    display: flex;
    gap: 20px;
}

.announcement-bar * {
    color: inherit;
}

.announcement-meta {
    display: flex;
    position: relative;
    gap: 24px;
}

.announcement-meta > div + div:before {
    content: '';
    background: #fff;
    position: absolute;
    width: 1px;
    height: 16px;
    top: 50%;
    left: 46%;
    transform: translateY(-50%);
    opacity: 0.7;
}

.flag {
    min-width: 20px;
    max-width: 20px;
    margin-right: 4px;
}

.currency-list-item,
.language-list-item {
    padding: 3px 5px;
}

.language-list,
.currency-list {
    min-width: auto;
    padding: 8px;
}


@media (max-width: 991px) {
    .announcement-bar .text_16 {
        font-size: 14px;
    }
}