// custom container
.container-fluid {
    padding-left: 5%;
    padding-right: 5%;
}

@media (max-width: 1800px) {
    .container-fluid {
        padding-left: 5%;
        padding-right: 5%;
    }
}


@media (max-width: 575px) {
    .container-fluid {
        padding-left: var(--bs-gutter-x, .75rem);
        padding-right: var(--bs-gutter-x, .75rem);
    }
}


/*============================================================================
    Template Common CSS
==============================================================================*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(var(--color-heading), 1);
  font-family: var(--font-heading-family);
  font-weight: var(--font-heading-weight);
}

body {
  color: rgba(var(--color-foreground), 1);
  background-color: rgba(var(--color-background), 1);
  font-weight: var(--font-body-weight);
  font-family: var(--font-body-family);
  letter-spacing: 0.5px;
  padding-right: 0 !important;
}

.body-wrapper {
  position: relative;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.relative{
  position: relative;
}

// Typography
.text_56,
.text_48,
.text_42,
.text_32,
.text_24,
.text_20,
.text_18,
.text_16,
.text_14,
.text_12 {
  margin: 0;
  color: rgba(var(--color-foreground), 1);
}

.text_56 {
  font-size: 56px;
  line-height: 1.25;
}

.text_48 {
  font-size: 48px;
  line-height: 1.25;
}

.text_42 {
  font-size: 42px;
  line-height: 1.25;
}

.text_32 {
  font-size: 32px;
  line-height: 1.2;
}

.text_24{
  font-size: 24px;
  line-height: 1.2;
}

.text_20{
  font-size: 20px;
  line-height: 1.2;
}

.text_18 {
  font-size: 18px;
  line-height: 1;
}

.text_16 {
  font-size: 16px;
  line-height: 1.5;
}

.text_14 {
  font-size: 14px;
  line-height: 1.68;
}

.text_12 {
  font-size: 12px;
  line-height: 1.68;
}

.heading{
  color: rgba(var(--color-heading), 1);
  font-weight: var(--font-heading-weight);
  font-family: var(--font-heading-family);
}

.subheading{
  color: rgba(var(--color-subheading), 1);
  font-weight: var(--font-subheading-weight);
  font-family: var(--font-subheading-family);
}

.text{
  color: rgba(var(--color-foreground), 1);
  font-weight: var(--font-body-weight);
  font-family: var(--font-body-family);
}

.section-heading {
  font-size: 32px;
  line-height: 1.3;
  margin: 0;
  color: rgba(var(--color-heading), 1);
  font-weight: var(--font-heading-weight);
  font-family: var(--font-heading-family);
  text-align: center;
}

@media (max-width: 767px) {
  .section-heading {
    font-size: 28px;
  }
}

.text-gray{
  color: rgba(var(--color-foreground), 0.7);
}

.medium{
    font-weight: 500;
}
  
.semibold{
    font-weight: 600;
}

.content-absolute {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
}

.flex-bannar{
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
}

// icon
.icon_14{
    width: 14px;
    height: 14px;
}

.icon_16{
    width: 16px;
    height: 16px;
}

.icon_18{
    width: 18px;
    height: 18px;
}

.icon_20{
    width: 20px;
    height: 20px;
}

.icon_24 {
    width: 24px;
    height: 24px;
}

.icon_28 {
    width: 28px;
    height: 28px;
}

.icon_40 {
    width: 40px;
    height: 40px;
}

.icon_50 {
    width: 50px;
    height: 50px;
}

// button and input
.button,
.button:hover,
.button:focus{
  min-width: 190px;
  height: 56px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 1.2px;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
  border: var(--button-border-width) solid;
  border-radius: var(--button-radius);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  transition: all 0.4s;
}

.button-primary{
  color: rgba(var(--color-button-text), 1);
  background-color: rgba(var(--color-button), 1);
  border-color: rgba(var(--color-button-border), 1);
}

.button-secondary{
  color: rgba(var(--color-secondary-button-text), 1);
  background-color: rgba(var(--color-secondary-button), 1);
  border-color: rgba(var(--color-secondary-button-border), 1) !important;
}

.button-primary:hover,
.button-primary:focus{
  color: rgba(var(--color-button-text-hover), 1);
  background-color: rgba(var(--color-button-hover), 1);
  border-color: rgba(var(--color-button-border-hover), 1);
}

.button-secondary:hover,
.button-secondary:focus {
  color:  rgba(var(--color-secondary-button-text-hover), 1);
  background-color: rgba(var(--color-secondary-button-hover), 1);
  border-color: rgba(var(--color-secondary-button-border-hover), 1);
}

.button-cta {
  font-size: 14px;
  color: rgba(var(--color-cta), 1);
  letter-spacing: 0.8px;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 3px;
  line-height: 1;
  font-weight: var(--font-cta-weight);
  font-family: var(--font-body-family);
}

.button-cta:hover {
  color: rgba(var(--color-cta-hover), 1);
  text-decoration: underline;
}

iframe {
    width: 100%;
}

.input-reset,
.button-reset {
    border: none;
    outline: none;
    -moz-outline: none ;
    -webkit-outline: none ;
    background: transparent;
    padding: 0;
}

.field {
    height: 48px;
    background: rgba(var(--color-background), 1);
    padding: 0 15px;
    border-radius: 4px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.field-input {
    width: 100%;
    font-size: 14px;
    color: rgba(var(--color-foreground), 1);
}

input[type="number"] {
    -webkit-appearance: none !important;
    appearance: none !important;
}

input[type="number"] {
    -moz-appearance: textfield !important;
}

input, textarea {
    border-radius: var(--input-radius);
}

// Language and currency dropdown color
.language-list-option *,
.currency-list-option * {
    color: rgba( var(--color-link), 1);
}

// Custom scroll
.scroll-horizontal {
    overflow: hidden;
    overflow-x: auto;
}

#scrollup {
    position: fixed;
    display: inline-block;
    background-color: #000;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    cursor: pointer;
}
  
#scrollup.show {
    opacity: 1;
    visibility: visible;
}

// overlay
.overlay {
    position: relative;
}

.overlay:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(var(--color-overlay), var(--opacity-overlay));
}

.link-underline {  
    color: var(--color-link);
    text-decoration: underline;
    @include prefix(transition, all 0.3s ease, ms webkit spec);

    &:hover {
    color: var(--color-link-hover);
    text-decoration: underline;
    }
}

.accordion-opener * {
    pointer-events: none;
}

.mt-100{
  margin-top: 100px;
}
  
// animation
@keyframes upDown {
    0% {
    transform: translateY(0);
    }

    50% {
    transform: translateY(-4px);
    }

    100% {
    transform: translateY(0);
    }
}

// Product modal css 
.product_modal:not([open]) {
  display: none;
}

.product_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  display: flex;
  align-items: center;
  background: rgba(var(--color-background), 0.4);
}

.product-popup-modal__content {
  position: relative;
  background: transparent;
  width: 95%;
  max-width: 1140px;
  margin: 0 auto;
  border: none;
  outline: none !important;
  box-shadow: none;
}

.product-popup-modal__toggle {
  position: absolute;
  top: -20px;
  right: -16px;
  cursor: pointer;
  border: none;
  background: #000;
  outline: none;
  z-index: 2;
  color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.product-popup-modal__content-info {
  background: #fff;
  padding: 40px 20px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 90vh;
}

.swiper-button-next:after, 
.swiper-button-prev:after {
  display: none;
}
