.blog-subheading {
    --font-subheading-weight: 600;
}

.blog-subheading {
    text-align: center;
    letter-spacing: 2px;
    margin-top: 8px;
}

.article-card {
    margin-top: 48px;
}

.article-button{
    --font-cta-weight: 400;
}

.article-content {
    margin-top: 16px;
}

.article-image {
    display: flex;
    overflow: hidden;
}

.article-image img {
    width: 100%;
    transition: all 0.4s ease-in-out;
}

.article-card-2:hover .article-image img,
.article-card:hover .article-image img {
    transform: scale(1.1);
    transform-origin: center;
}

.article-text {
    margin-top: 16px;
}

.article-publish {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 8px;
}

.article-date:before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background: #000;
    border-radius: 50%;
    top: 51%;
    transform: translateY(-50%);
    left: 0;
    opacity: 0.6;
}

.article-date {
    padding-left: 13px;
}

.article-button {
    margin-top: 12px;
    display: block;
}

// Article card two

.article-card-2 .article-date:before {
    content: none;
}

.article-card-2 .article-date {
    padding: 0;
}

.article-card-2 .article-date,
.article-card-2 .article-author {
    display: flex;
    align-items: center;
    gap: 4px;
}

.article-card-2 .article-publish {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 0;
    position: absolute;
    top: 8px;
    left: 8px;
    background: rgba(var(--color-background), 0.5);
    padding: 8px 12px;
    transition: all 0.3s;
}

.article-card-2:hover .article-publish {
    background: rgba(var(--color-background), 1);
}

// Article card 3
.article-card-3 {
    display: flex;
    column-gap: var(--bs-gutter-x);
}

.article-card-3 .article-publish {
    margin-bottom: 8px;
    margin-top: 0;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .article-card-3 .article-button,
    .article-card-3 .article-text,
    .article-card-3 .article-publish {
        font-size: 13px;
    }

    .article-card-3 .article-title{
        font-size: 18px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .article-button,
    .article-text,
    .article-publish {
        font-size: 13px;
    }


    .article-card-2 .article-publish {
        padding: 6px 10px;
        font-size: 10px;
    }

    .article-title{
        font-size: 18px;
    }
}

@media (max-width: 991px) {
    .article-card-3 {
        display: block;
    }
}

@media (max-width: 425px) {
    .article-button,
    .article-text,
    .article-publish {
        font-size: 13px;
    }

    .article-card-2 .article-publish {
        padding: 6px 10px;
        font-size: 10px;
    }

    .article-title{
        font-size: 18px;
    }
}