.collage-grid {
    display: grid;
    grid-template-columns: 45% auto;
    grid-template-rows: auto;
    grid-template-areas: "first second";
    column-gap: var(--bs-gutter-x);
}

.collage-grid.grid-style-2 {
    --bs-gutter-y: 24px;
    display: grid;
    grid-template-columns: 45% auto;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
        "first second"
        "first third";
    column-gap: var(--bs-gutter-y);
    row-gap: var(--bs-gutter-x);
}

.collage-grid.grid-style-3 {
    --bs-gutter-y: 24px;
    display: grid;
    grid-template-columns: 45% auto auto;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "first third fourth"
        "first second second";
    column-gap: var(--bs-gutter-x);
    row-gap: var(--bs-gutter-y);
}

.collage-grid.grid-style-4 {
    --bs-gutter-y: 24px;
    display: grid;
    grid-template-columns: 45% auto auto;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "first second third"
        "first fifth fourth";
    column-gap: var(--bs-gutter-x);
    row-gap: var(--bs-gutter-y);
}

.collage-grid-item:nth-child(1){
    grid-area: first;
}

.collage-grid-item:nth-child(2){
    grid-area: second;
}

.collage-grid-item:nth-child(3){
    grid-area: third;
}

.collage-grid-item:nth-child(4){
    grid-area: fourth;
}

.collage-grid-item:nth-child(5){
    grid-area: fifth;
}

.collage-media {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 300px;
}

.collage-media img {
    width: 100%;
    min-height: inherit;
    object-fit: cover;
    object-position: center;
}

.collage-content.flex-bannar {
    display: flex;
    height: inherit;
    justify-content: flex-start;
    width: 100%;
    padding: 32px;
    align-items: flex-start;
}

.subheading-collage {
    margin-top: 8px;
}

.button-collage {
    margin-top: 24px;
    display: inline-block;
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .collage-content.flex-bannar {
        padding: 22px;
    }

    .heading-collage.text_32 {
        font-size: 26px;
    }

    .subheading-collage.text_18 {
        font-size: 16px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .collage-grid.grid-style-4,
    .collage-grid.grid-style-3,
    .collage-grid.grid-style-2,
    .collage-grid {
        --bs-gutter-x: 20px;
        --bs-gutter-y: 20px;
    }

    .collage-content.flex-bannar {
        padding: 16px;
    }

   .heading-collage.text_32 {
    font-size: 22px;
    }

    .subheading-collage.text_18 {
        font-size: 14px;
    }

    .button-collage.button-cta {
        font-size: 13px;
    }
}

@media (max-width: 991px) {
    .collage-grid.grid-style-4,
    .collage-grid.grid-style-3,
    .collage-grid.grid-style-2,
    .collage-grid {
        --bs-gutter-x: 16px;
        --bs-gutter-y: 16px;
    }

    .collage-content.flex-bannar {
        padding: 10px;
    }

    .heading-collage.text_32 {
        font-size: 16px;
    }

    .subheading-collage.text_18 {
        font-size: 12px;
    }

    .button-collage.button-cta {
        font-size: 11px;
    }
}

@media (max-width: 767px) {
    .collage-grid.grid-style-4, 
    .collage-grid.grid-style-3, 
    .collage-grid.grid-style-2, 
    .collage-grid {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(4, 85%);
        grid-template-rows: none;
        grid-template-areas: "first second third fourth";
        overflow: hidden;
        overflow-x: scroll;
    }

    .collage-content.flex-bannar {
        padding: 32px;
    }

    .heading-collage.text_32 {
        font-size: 32px;
    }

    .subheading-collage.text_18 {
        font-size: 18px;
    }

    .button-collage.button-cta {
        font-size: 14px;
    }
}

@media (max-width: 575px) {

    .collage-content.flex-bannar {
        padding: 22px;
    }

    .heading-collage.text_32 {
        font-size: 24px;
    }

    .subheading-collage.text_18 {
        font-size: 14px;
    }

    .button-collage.button-cta {
        font-size: 12px;
    }
}