.filter-checkbox.yellow {
    --color-background: 255, 199, 60;
}
.filter-checkbox.blue {
    --color-background: 47, 128, 237;
}
.filter-checkbox.orange {
    --color-background: 242, 153, 74;
}
.filter-checkbox.purple {
    --color-background: 155, 81, 224;
}

.collection-layout{
    --color-background: 247, 247, 247;
}

.filter-content{
    --color-background: 255, 255, 255;
}

.collection-wrap {
    display: flex;
    gap: 100px;
}

.collection-wrap .product-list-wrap {
    width: calc(75% - 100px);
}

.collection-sidebar {
    width: 25%;
}

.collection-wrap .product-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -24px;
}

.collection-wrap .product-card {
    width: 33.33%;
    padding-left: 24px;
}

.collection-wrap .filter-sort-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.collection-layout {
    display: flex;
    background: rgba(var(--color-background), 1);
    border-radius: 6px;
    padding: 4px;
}

.collection-layout .layout-list {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.collection-layout .layout-list:hover {
    background: rgba(var(--color-background), 1);
}

.filter-sort .sort-btn {
    width: 180px;
    height: 48px;
    background: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 6px;
}

.filter-sort .sort-list {
    width: 100%;
    border-color: #f7f7f7;
}

.filter-sort .sort-item {
    padding: 8px 10px;
}

.collection-sidebar-wrap > div + div {
    margin-top: 42px;
}

// collection right sidebar
.collection-banner {
    border-radius: 6px;
    display: flex;
    overflow: hidden;
}

// collection without sidebar
.collection-slider .card-title {
    text-align: center;
    letter-spacing: 5px;
}

.collection-without-sidebar .filter-heading {
    gap: 16px;
    padding: 10px 0px;
}

.collection-without-sidebar .filter-widget {
    padding-left: 20px;
}

.collection-without-sidebar .filter-content {
    visibility: hidden;
    position: absolute;
    width: 100%;
    background: rgba(var(--color-background), 1);
    z-index: 999;
    opacity: 0;
    top: 50%;
    left: 6px;
    transition: all 0.3s ease-in-out;
    width: 250px;
    min-width: 250px;
    padding: 20px 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.collection-without-sidebar .filter-widget:hover .filter-content {
    visibility: visible;
    opacity: 1;
    top: 110%;
}

.collection-without-sidebar .collection-wrap .product-list-wrap {
    width: 100%;
}

.collection-without-sidebar .collection-wrap .product-card {
    width: 25%;
}

.collection-without-sidebar .collection-wrap .filter-sort-wrap {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 24px;
}

.collection-without-sidebar .collection-layout {
    background: transparent;
    align-items: center;
    margin-left: -20px;
}

.collection-without-sidebar .filter-list {
    margin: 0;
}

.collection-without-sidebar .filter-list > li + li {
    margin-top: 16px;
}

.collection-without-sidebar .filter-content {
    display: unset;
}

.collection-without-sidebar .all-product-text {
    margin-left: 8px;
}

@media (min-width: 992px) and (max-width: 1200px) {
    .collection-wrap {
        gap: 50px;
    }

    .collection-wrap .product-list-wrap {
        width: calc(75% - 50px);
    }

    .collection-wrap .card-cart-button {
        gap: 8px;
    }

    .collection-wrap .cart-button-text {
        font-size: 12px;
    }
}

@media (max-width: 991px) {
    .collection-wrap .product-list-wrap {
        width: 100%;
    }
    
    .drawer-filter.offcanvas {
        width: 100%;
        border: none;
    }

    .collection-wrap .product-card {
        width: 50%;
    }

    .collection-sidebar {
        width: 100%;
        padding: 20px;
        overflow-y: scroll;
    }

    .offcanvas-header.filter-heading {
        padding: 0;
    }

    .collection-without-sidebar .collection-wrap .product-card {
        width: 33.33%;
    }
}

@media (max-width: 767px) {
    .collection-without-sidebar .collection-wrap .product-card {
        width: 50%;
    }
}

@media (max-width: 432px) {
    .collection-without-sidebar .collection-layout {
        margin-bottom: 16px !important;
    }

}