.collage-grid {
    display: grid;
    grid-template-columns: 45% auto;
    grid-template-rows: auto;
    grid-template-areas: "first second";
    column-gap: var(--bs-gutter-x);
}

.collage-grid.grid-style-2 {
    --bs-gutter-y: 24px;
    display: grid;
    grid-template-columns: 45% auto;
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: 
        "first second third";
    column-gap: var(--bs-gutter-y);
    row-gap: var(--bs-gutter-x);
}

.collage-grid.grid-style-3 {
    --bs-gutter-y: 24px;
    display: grid;
    grid-template-columns: 45% auto auto;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "first third fourth"
        "first second second";
    column-gap: var(--bs-gutter-x);
    row-gap: var(--bs-gutter-y);
}

.collage-grid.grid-style-4 {
    --bs-gutter-y: 24px;
    display: grid;
    grid-template-columns: auto auto 45%;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "second third first"
        "fifth fourth first";
    column-gap: var(--bs-gutter-x);
    row-gap: var(--bs-gutter-y);
}

.collage-grid-item:nth-child(1){
    grid-area: first;
}

.collage-grid-item:nth-child(2){
    grid-area: second;
}

.collage-grid-item:nth-child(3){
    grid-area: third;
}

.collage-grid-item:nth-child(4){
    grid-area: fourth;
}

.collage-grid-item:nth-child(5){
    grid-area: fifth;
}

.collage-media {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 300px;
}

.collage-media img {
    width: 100%;
    min-height: inherit;
    object-fit: cover;
    object-position: center;
}

.collage-content {
    display: flex;
    height: inherit;
    width: 100%;
    padding: 32px;
}

.subheading-collage {
    margin-top: 8px;
}

.grid-style-2 .subheading-collage {
    margin-top: 0;
}

.button-collage {
    margin-top: 24px;
    display: inline-block;
}

.grid-style-2 .button-collage {
    margin-top: 8px;
}

.grid-style-2 .collage-text,
.grid-style-2 .button-primary {
    margin-top: 24px;
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .collage-content.flex-bannar {
        padding: 22px;
    }

    .heading-collage {
        font-size: 28px;
    }

    .subheading-collage {
        font-size: 16px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .collage-grid.grid-style-4,
    .collage-grid.grid-style-3,
    .collage-grid.grid-style-2,
    .collage-grid {
        --bs-gutter-x: 20px;
        --bs-gutter-y: 20px;
    }

    .collage-content.flex-bannar {
        padding: 16px;
    }

   .heading-collage {
    font-size: 24px;
    }

    .subheading-collage {
        font-size: 14px;
    }

    .button-collage.button-cta {
        font-size: 13px;
    }
}

@media (max-width: 991px) {
    .collage-grid.grid-style-4,
    .collage-grid.grid-style-3,
    .collage-grid.grid-style-2,
    .collage-grid {
        --bs-gutter-x: 16px;
        --bs-gutter-y: 16px;
    }

    .collage-content {
        padding: 10px;
    }

    .heading-collage {
        font-size: 20px;
    }

    .collage-text,
    .subheading-collage {
        font-size: 12px;
    }

    .button-collage.button-cta {
        font-size: 11px;
    }

    .grid-style-2 .button, 
    .grid-style-2 .button:hover, 
    .grid-style-2 .button:focus {
        min-width: 170px;
        height: 48px;
        font-size: 11px;
    }
}

@media (max-width: 767px) {
    .collage-grid.grid-style-4, 
    .collage-grid.grid-style-3, 
    .collage-grid {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(4, 85%);
        grid-template-rows: none;
        grid-template-areas: "first second third fourth fifth";
        overflow: hidden;
        overflow-x: scroll;
    }

    .collage-grid.grid-style-4 {
        grid-template-columns: repeat(5, 85%);
        grid-template-areas: "first second third fourth fifth";
    }

    
    .collage-grid.grid-style-2 {
        
        grid-template-columns: repeat(3, 85%);
        grid-template-areas: "first second third";
    }

    .collage-content {
        padding: 32px;
    }

    .heading-collage {
        font-size: 32px;
    }

    .collage-text,
    .subheading-collage {
        font-size: 18px;
    }

    .grid-style-2 .button-primary,
    .button-collage.button-cta {
        font-size: 14px;
    }
}

@media (max-width: 575px) {
    .collage-content {
        padding: 22px;
    }

    .heading-collage {
        font-size: 24px;
    }

    .subheading-collage {
        font-size: 14px;
    }

    .grid-style-2 .collage-text,
    .grid-style-2 .subheading-collage {
        font-size: 12px;
    }

    .button-collage.button-cta {
        font-size: 12px;
    }

    
    .grid-style-2 .button, 
    .grid-style-2 .button:hover, 
    .grid-style-2 .button:focus {
        min-width: 170px;
        height: 48px;
        font-size: 11px;
    }
}