.collection-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collection-content-inner {
    max-width: 468px;
}

.collection-content-inner > * + * {
    margin-top: 16px;
}

.collection-media {
    display: flex;
    column-gap: var(--bs-gutter-x);
}

.collection-image {
    display: flex;
    flex-direction: column;
}

.collection-image-title {
    display: block;
    text-align: center;
    margin-top: 24px;
    letter-spacing: 5px;
}

@media (min-width: 1200px) and (max-width: 1399px){
    .collection-grid {
        column-gap: 150px;
    }
}

@media (min-width: 992px) and (max-width: 1199px){
    .collection-grid {
        column-gap: 125px;
    }

    .collection-content-inner > * + * {
        margin-top: 14px;
    }

    .collection-image-title,
    .collection-subheading {
        font-size: 16px;
    }

    .collection-heading {
        font-size: 28px;
    }

    .collection-text {
        font-size: 12px;
    }

    .collection-button.button, 
    .collection-button.button:hover, 
    .collection-button.button:focus {
        min-width: 180px;
        height: 56px;
        font-size: 12px;
    }
}

@media (min-width: 767px) and (max-width: 991px){
    .collection-grid {
        column-gap: 95px;
    }

    .collection-content-inner > * + * {
        margin-top: 14px;
    }

    .collection-image-title,
    .collection-subheading {
        font-size: 14px;
    }

    .collection-heading {
        font-size: 22px;
    }

    .collection-text {
        font-size: 12px;
    }

    .collection-button.button, 
    .collection-button.button:hover, 
    .collection-button.button:focus {
        min-width: 170px;
        height: 48px;
        font-size: 12px;
    }
}

@media (max-width: 767px) {
    .collection-grid {
        align-items: flex-start;
        flex-direction: column-reverse;
    }

    .collection-image-title {
        margin-top: 18px;
    }

    .collection-content-inner {
        margin-top: 30px;
    }

    .collection-image-title,
    .collection-subheading {
        font-size: 16px;
    }

    .collection-heading {
        font-size: 32px;
    }

    .collection-text {
        font-size: 13px;
    }

    .collection-button.button, 
    .collection-button.button:hover, 
    .collection-button.button:focus {
        min-width: 180px;
        height: 52px;
        font-size: 13px;
    }
}

@media (max-width: 425px) {
    .collection-image-title,
    .collection-subheading {
        font-size: 14px;
    }

    .collection-heading {
        font-size: 22px;
    }

    .collection-text {
        font-size: 12px;
    }

    .collection-button.button, 
    .collection-button.button:hover, 
    .collection-button.button:focus {
        min-width: 170px;
        height: 48px;
        font-size: 12px;
    }
}


// collection-left-sidebar page css start
.filter-checkbox.yellow {
    --color-background: 255, 199, 60;
}
.filter-checkbox.blue {
    --color-background: 47, 128, 237;
}
.filter-checkbox.orange {
    --color-background: 242, 153, 74;
}
.filter-checkbox.purple {
    --color-background: 155, 81, 224;
}

.collection-wrap {
    display: flex;
    gap: 100px;
}

.collection-wrap .product-list-wrap {
    width: calc(75% - 100px);
}

.collection-sidebar {
    width: 25%;
}

.collection-wrap .product-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -24px;
}

.collection-wrap .product-card {
    width: 33.33%;
    padding-left: 24px;
}

.collection-wrap .filter-sort-wrap {
    display: flex;
    justify-content: space-between;
}

.collection-layout {
    display: flex;
    background: #f7f7f7;
    border-radius: 6px;
    padding: 4px;
}

.collection-layout .layout-list {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.collection-layout .layout-list:hover {
    background: rgba(var(--color-background), 1);
}

.filter-sort .sort-btn {
    width: 180px;
    height: 48px;
    background: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 6px;
}

.filter-sort .sort-list {
    width: 100%;
    border-color: #f7f7f7;
}

.filter-sort .sort-item {
    padding: 6px 10px;
}

.collection-sidebar-wrap > div + div {
    margin-top: 42px;
}