.collection-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collection-content-inner {
    max-width: 468px;
}

.collection-content-inner > * + * {
    margin-top: 16px;
}

.collection-media {
    display: flex;
    column-gap: var(--bs-gutter-x);
}

.collection-image {
    display: flex;
    flex-direction: column;
}

.collection-image-title {
    display: block;
    text-align: center;
    margin-top: 24px;
    letter-spacing: 5px;
}

@media (min-width: 1200px) and (max-width: 1399px){
    .collection-grid {
        column-gap: 150px;
    }
}

@media (min-width: 992px) and (max-width: 1199px){
    .collection-grid {
        column-gap: 125px;
    }

    .collection-content-inner > * + * {
        margin-top: 14px;
    }

    .collection-image-title,
    .collection-subheading {
        font-size: 16px;
    }

    .collection-heading {
        font-size: 28px;
    }

    .collection-text {
        font-size: 12px;
    }

    .collection-button.button, 
    .collection-button.button:hover, 
    .collection-button.button:focus {
        min-width: 180px;
        height: 56px;
        font-size: 12px;
    }
}

@media (min-width: 767px) and (max-width: 991px){
    .collection-grid {
        column-gap: 95px;
    }

    .collection-content-inner > * + * {
        margin-top: 14px;
    }

    .collection-image-title,
    .collection-subheading {
        font-size: 14px;
    }

    .collection-heading {
        font-size: 22px;
    }

    .collection-text {
        font-size: 12px;
    }

    .collection-button.button, 
    .collection-button.button:hover, 
    .collection-button.button:focus {
        min-width: 170px;
        height: 48px;
        font-size: 12px;
    }
}

@media (max-width: 767px) {
    .collection-grid {
        align-items: flex-start;
        flex-direction: column-reverse;
    }

    .collection-image-title {
        margin-top: 18px;
    }

    .collection-content-inner {
        margin-top: 30px;
    }

    .collection-image-title,
    .collection-subheading {
        font-size: 16px;
    }

    .collection-heading {
        font-size: 32px;
    }

    .collection-text {
        font-size: 13px;
    }

    .collection-button.button, 
    .collection-button.button:hover, 
    .collection-button.button:focus {
        min-width: 180px;
        height: 52px;
        font-size: 13px;
    }
}

@media (max-width: 425px) {
    .collection-image-title,
    .collection-subheading {
        font-size: 14px;
    }

    .collection-heading {
        font-size: 22px;
    }

    .collection-text {
        font-size: 12px;
    }

    .collection-button.button, 
    .collection-button.button:hover, 
    .collection-button.button:focus {
        min-width: 170px;
        height: 48px;
        font-size: 12px;
    }
}
