/*============================================================================
  Prefix mixin for generating vendor prefixes:
  Usage:
    // Input:
    .element {
      @include prefix(transform, scale(1), ms webkit spec);
    }

    // Output:
    .element {
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
    }

  Based on https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/addons/_prefixer.scss
==============================================================================*/
@mixin prefix($property, $value, $prefixes) {
  @each $prefix in $prefixes {
    @if $prefix==webkit {
      -webkit-#{$property}: $value;
    }

    @else if $prefix==moz {
      -moz-#{$property}: $value;
    }

    @else if $prefix==ms {
      -ms-#{$property}: $value;
    }

    @else if $prefix==o {
      -o-#{$property}: $value;
    }

    @else if $prefix==spec {
      #{$property}: $value;
    }

    @else {
      @warn "Unrecognized prefix: #{$prefix}";
    }
  }
}


// color
a,
a:focus,
a:hover {
  text-decoration: none;
  border: none;
  outline: none;
  @include prefix(transition, all 0.3s, ms webkit spec);
}

img {
  max-width: 100%;
}

.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #888;
  }
}

button,
.offcanvas {
  @include prefix(border, none !important, ms webkit spec);
  @include prefix(outline, none !important, ms webkit spec);
  @include prefix(box-shadow, none !important, ms webkit spec);
}

// show second image on hover
.hover-switch {
  position: relative;
  display: block;

  .primary-img,
  .secondary-img {
    @include prefix(transition, all 0.7s ease, ms webkit spec);
  }
}

.secondary-img {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
}

.product-card:hover .secondary-img {
  opacity: 1;
  visibility: visible;
}

.product-card:hover .secondary-img+.primary-img {
  opacity: 0;
  visibility: hidden;
}