.tab-button{
    --color-background: 0, 0, 0;
}

.badge-red{
    --color-foreground: 255, 255, 255;
    --color-background:221, 24, 24;
}

.badge-blue{
    --color-foreground: 255, 255, 255;
    --color-background: 0, 0, 255;
}

.button-quickview.button-secondary{
    --color-secondary-button-text: 255, 255, 255;
}

.button-quickview.button-secondary:hover{
    --color-secondary-button-text-hover: 255, 255, 255;
}

.review-gray{
    --color-foreground: 198, 198, 200;
}

.swatch-gray{
    --color-background: 198, 198, 200;
}

.swatch-yellow{
    --color-background: 255, 199, 60;
}

.swatch-blue{
    --color-background: 47, 128, 247;
}

.swatch-black{
    --color-background: 0, 0, 0;
}

.swatch-red{
    --color-background: 183, 83, 47;
}

.tab-heading {
    margin-bottom: 24px;
}

.tab-heading .section-heading {
    margin: 0;
}

.tab-button {
    color: rgba(var(--color-foreground), 0.7);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    position: relative;
}

.tab-button::after {
    content: '';
    position: absolute;
    width: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    background-color: rgba(var(--color-background), 1);
    display: inline-block;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    left: auto;
}

.tab-button.active::after {
    width: 100%;
    left: 0;
}

.tab-button.active {
    color: rgba(var(--color-foreground), 1);
}

.custom-tablist {
    display: flex;
    justify-content: center;
    gap: 64px;
    align-items: center;
    flex-wrap: wrap;
}

.product-card-3,
.product-card-2,
.product-card {
    margin-top: 42px;
}

.product-card-details {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-badge{
    position: absolute;
    display: inline-block;
    top: 14px;
    left: 14px;
    z-index: 9;
}

.card-badge div {
    margin-bottom: 8px;
}

.new-badge-text,
.discount-badge-text {
    color: rgba(var(--color-foreground), 1);
    background-color: rgba(var(--color-background), 1);
    padding: 4px 12px;
    border-radius: 4px;
}

.product-card-image {
    overflow: hidden;
}

.product-card-4 .card-action,
.product-card-3 .card-action,
.product-card .card-action {
    align-items: center;
    display: flex;
    gap: 8px;
    position: absolute;
    bottom: -24px;
    left: auto;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
}

.product-card-3:hover .card-action{
    opacity: 1;
    visibility: visible;
    bottom: 24px;
}

.product-card:hover .card-action {
    opacity: 1;
    visibility: visible;
    bottom: 8px;
}

.card-wishlist {
    position: absolute;
    top: 14px;
    right: -24px;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
}

.product-card-3:hover .card-wishlist,
.product-card:hover .card-wishlist {
    opacity: 1;
    visibility: visible;
    right: 14px;
}

.card-cart-button {
    background-color: rgba(var(--color-background), 1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    text-transform: uppercase;
    width: calc(100% - 56px);
    height: 56px;
    border-radius: 12px;
}

.card-quickview-button{
    width: 56px;
    height: 56px;
    background-color: rgba(var(--color-background), 1);
    color: rgba(var(--color-foreground), 1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

.card-rating {
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: flex-start;
}

.product-card-details .card-title {
    line-height: 0;
}

.card-title-link.text_16 {
    display: inline-block;
    line-height: 1.4;
}

.review-icon {
    color: rgba(var(--color-foreground), 1);
}

.rating-list {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
}

.product-card-details .card-price {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
}

.product-card-details .card-price-compare {
    color: rgba(var(--color-foreground), 0.7);
    text-decoration: line-through;
}

.color-swatch-wrap .color-lists {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.color-swatch-wrap .color-swatch {
    width: 18px;
    height: 18px;
    display: inline-block;
    border-radius: 50%;
}

.color-swatch-wrap .color-swatch.active {
    border: 2px solid rgba(var(--color-foreground), 1);
}

.swatch-gray{
    background-color: rgba(var(--color-background), 1);
}

.swatch-yellow{
    background-color: rgba(var(--color-background), 1);
}

.swatch-blue{
    background-color: rgba(var(--color-background), 1);
}

.swatch-black{
    background-color: rgba(var(--color-background), 1);
}

.swatch-red{
    background-color: rgba(var(--color-background), 1);
}

.custom-tab-button {
    text-align: center;
    margin-top: 42px;
}

// Product cart style 2
.product-card-2 .discount-badge {
    top: 48px;
}

.product-card-2 .card-action {
    position: absolute;
    left: auto;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    width: 100%;
    top: 50%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
    transform: scale(0.1);
}

.product-card-2:hover .card-action {
    opacity: 1;
    visibility: visible;
    transform: translateY(-50%);
}

.product-card-2 > .product-card-image::before {
    content: "";    
    transition: all 0.3s;
}

.product-card-2:hover > .product-card-image::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(var(--color-overlay), var(--opacity-overlay));
}

// Product cart style 3
.product-card-3 .card-cart-button {
    background-color: transparent;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 2px solid rgba(var(--color-foreground), 1);
}

.product-card-3 .card-quickview-button {
    background-color: transparent;
    border-radius: 50%;
    color: rgba(var(--color-foreground), 1);
    border: 2px solid rgba(var(--color-foreground), 1);
}

.product-card-3 .card-cart-button:hover,
.product-card-3 .card-quickview-button:hover {
    background-color: rgba(var(--color-background), 1);
}

.product-card-3 .card-action{
    gap: 16px;
    justify-content: center;
}

// Product cart style 4
.product-card-4 .product-card-details {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: absolute;
    bottom: 16px;
    left: 0;
    width: 100%;
    padding: 0 20px;
    transition: all 0.3s;
}

.product-card-4:hover > .product-card-details {
    bottom: 56px;
    opacity: 0;
    visibility: hidden;
}
  

@media (min-width: 768px) and (max-width: 991px) {
    .card-cart-button {
        width: calc(100% - 48px);
        height: 48px;
        gap: 8px;
    }

    .card-quickview-button {
        width: 48px;
        height: 48px;
    }

    .product-card-3 .card-cart-button,
    .product-card-3 .card-quickview-button {
        width: 56px;
        height: 56px;
    }

    .button-add-to-cart.button,
    .button-quickview.button {
        min-width: 150px;
        height: 48px;
        font-size: 12px;
    }
}

@media (max-width: 767px) {
    .card-cart-button {
        width: calc(100% - 48px);
        height: 48px;
    }

    .product-card-3 .card-cart-button,
    .product-card-3 .card-quickview-button,
    .card-quickview-button {
        width: 48px;
        height: 48px;
    }

    .button-add-to-cart.button,
    .button-quickview.button {
        min-width: 150px;
        height: 48px;
        font-size: 12px;
    }
}

@media (max-width: 575px) {
    .custom-tablist {
        gap: 18px;
    }

    .tab-button.text.text_14 {
        font-size: 12px;
    }

    .new-badge-text,
    .discount-badge-text {
        padding: 4px 8px;
    }

    .new-badge-text.text_12,
    .discount-badge-text.text_12 {
        font-size: 10px;;
    }

    .card-cart-button {
        width: calc(100% - 42px);
        height: 42px;
        gap: 8px;
    }

    .card-quickview-button {
        width: 42px;
        height: 42px;
    }

    .product-card-3 .card-cart-button,
    .product-card-3 .card-quickview-button {
        width: 48px;
        height: 48px;
    }

    .card-quickview-icon .icon_24,
    .card-cart-icon .icon_24 {
        width: 20px;
        height: 20px;
    }

    .cart-button-text.text_14 {
        font-size: 12px;
    }

    .card-title .text_16 {
        font-size: 14px;
    }

    .card-price-regular.text_14,
    .card-price-compare.text_14 {
        font-size: 12px;
    }

    .review-icon .icon_14 {
        width: 12px;
        height: 12px;
    }

    .rating-number.text_12 {
        font-size: 10px;
    }

    .custom-tab-button .button, 
    .custom-tab-button .button:hover, 
    .custom-tab-button .button:focus {
        min-width: 170px;
        height: 48px;
        font-size: 12px;
    }
}

@media (max-width: 425px) {
    .card-action {
        padding-left: 4px;
        padding-right: 4px;
        justify-content: space-around;
    }

    .product-card-3 .card-action {
        gap: 10px;
    }

    .card-cart-button {
        width: calc(100% - 32px);
        height: 32px;
    }

    .card-quickview-button {
        width: 32px;
        height: 32px;
    }

    .product-card-3 .card-cart-button,
    .product-card-3 .card-quickview-button {
        width: 42px;
        height: 42px;
    }

    .card-quickview-icon .icon_24,
    .card-cart-icon .icon_24 {
        width: 14px;
        height: 14px;
    }

    .cart-button-text.text_14 {
        font-size: 8px;
    }

    .card-wishlist .icon-wishlist {
        width: 16px;
        height: 16px;
    }

    .new-badge-text.text_12,
    .discount-badge-text.text_12 {
        font-size: 8px;
    }

    .new-badge-text, 
    .discount-badge-text {
        padding: 4px 6px;
    }

    .button-add-to-cart.button, 
    .button-quickview.button {
        min-width: 120px;
        height: 38px;
        font-size: 10px;
    }
}