.condition-button {
    --font-cta-weight: 400;
}

.cart-drawer-header{
    border-bottom: 1px solid rgba(var(--color-foreground), 0.1);
}

.cart-drawer-header .btn-close {
    box-shadow: none;
    opacity: 1;
}

.cart-content-area {
    height: 100%;
}

.minicart-loop {
    padding: 1rem 0;
    overflow-y: scroll;
}

.minicart-item {
    padding: 14px 16px;
    display: flex;
}

.product-remove {
    line-height: 1;
}

.mini-img-wrapper {
    width: 100px;
    overflow: hidden;
}

.mini-img {
    min-width: 100px;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.minicart-item>.product-info {
    width: calc(100% - 80px);
    padding-left: 20px;
}

.cart-content-area .product-info > * + * {
    padding-top: 8px;
    padding-bottom: 0;
}

.cart-content-area .product-info > div:not(:last-child) {
    border-bottom: none;
}

.minicart-footer .minicart-btn-area,
.minicart-footer .minicart-calc,
.minicart-item .quantity,
.product-quantity .quantity,
.minicart-item .misc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-content-area .minicart-item .product-vendor {
    margin-bottom: 0;
}

.minicart-item .product-vendor {
    margin-bottom: 12px;
}

.minicart-item .product-title {
    margin-bottom: 3px;
    display: flex;
}

.product-remove {
    color: rgba(var(--color-foreground),0.6);
}

.product-remove:hover {
    color: rgba(var(--color-foreground), 1);
}

.qty-btn,
.qty-input {
    width: 48px;
    text-align: center;
    border: none;
    outline: none;
    background: transparent;
}

.qty-input:hover,
.qty-btn:hover,
.qty-input:focus,
.qty-btn:focus,
.qty-input:active,
.qty-btn:active {
    border: none;
    outline: none;
    background: transparent;
}

.qty-btn::-webkit-inner-spin-button,
.qty-input::-webkit-inner-spin-button {
    display: none;
}

.quantity {
    width: 100px;
    border: 1px solid rgba(var(--color-foreground), 0.2);
}

.quantity .qty-btn {
    width: 25px;
    padding: 4px 5px 6px;
    cursor: pointer;
}

.quantity .qty-btn  img {
    max-width: 12px;
    pointer-events: none;
}

.qty-btn.dec-qty {
    border-right: 1px solid rgba(var(--color-foreground), 0.2) !important;
}

.qty-btn.inc-qty {
    border-left: 1px solid rgba(var(--color-foreground), 0.2) !important;
}

.cart-taxes {
    margin: 8px 0 24px;
}

.minicart-footer {
    padding: 20px;
    border-top: 1px solid rgba(var(--color-foreground), 0.1);
}

.minicart-btn {
    width: 48%;
}

.minicart-btn-area .button-secondary,
.minicart-btn-area .button-secondary:hover {
    --color-secondary-button-border: 0, 0, 0;
    border-color: rgba(var( --color-secondary-button-border), 1);
}

.minicart-btn-area .button,
.minicart-btn-area .button:hover{
    min-width: 170px;
    height: 48px;
    font-size: 12px;
}

@media (max-width: 425px) {
    .minicart-calc .text_16,
    .product-title .text_16 {
        font-size: 14px;
    }

    .product-price,
    .product-vendor {
        font-size: 12px;
    }

    .cart-taxes,
    .condition-form .checkbox-text,
    .condition-form .checkbox-text .condition-button {
        font-size: 11px;
    }

    .quantity .qty-btn {
        padding: 2px 4px 2px;
    }

    .minicart-footer {
        padding: 14px;
    }

    .minicart-btn-area .button,
    .minicart-btn-area .button:hover {
        min-width: 144px;
        height: 48px;
    }
}