.cart-drawer-header{
    border-bottom: 1px solid rgba(var(--color-foreground), 0.1);
}

.cart-content-area {
    height: 100%;
}

.minicart-loop {
    padding: 1rem 0;
    overflow-y: scroll;
}

.minicart-item {
    padding: 10px 16px;
    display: flex;
}

.product-remove {
    line-height: 1;
}

.mini-img-wrapper {
    width: 80px;
    overflow: hidden;
}

.mini-img {
    min-width: 80px;
    height: 100px;
    object-fit: cover;
    object-position: top;
}

.minicart-item>.product-info {
    width: calc(100% - 80px);
    padding-left: 20px;
}

.minicart-footer .minicart-btn-area,
.minicart-footer .minicart-calc,
.minicart-item .quantity,
.product-quantity .quantity,
.minicart-item .misc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.minicart-item .product-title,
.minicart-item .product-vendor {
    margin-bottom: 4px;
}

.product-remove {
    text-decoration: underline;
}

.product-remove:hover {
    color: #E80000;
}

.qty-btn,
.qty-input {
    width: 48px;
    text-align: center;
    border: none;
    outline: none;
    background: transparent;

    &:hover,
    &:focus,
    &:active {
        border: none;
        outline: none;
        background: transparent;
    }

    &::-webkit-inner-spin-button {
        display: none;
    }
}

.quantity {
    width: 100px;
    border: 1px solid rgba(var(--color-foreground), 0.2);

    .qty-btn {
        width: 25px;
        padding: 4px 5px 6px;
        cursor: pointer;

        img {
            max-width: 12px;
            pointer-events: none;
        }

        &.dec-qty {
            border-right: 1px solid rgba(var(--color-foreground), 0.2) !important;
        }

        &.inc-qty {
            border-left: 1px solid rgba(var(--color-foreground), 0.2) !important;
        }
    }
}

.cart-taxes {
    text-align: center;
    margin: 20px 0 !important;
}

.minicart-footer {
    padding: 20px;
    border-top: 1px solid rgba(var(--color-foreground), 0.1);
}

.minicart-btn {
    width: 48%;
}

.minicart-btn-area .button-secondary,
.minicart-btn-area .button-secondary:hover {
    --color-secondary-button-border: 0, 0, 0;
    border-color: rgba(var( --color-secondary-button-border), 1);
}

.minicart-btn-area .button,
.minicart-btn-area .button:hover{
    min-width: 170px;
    height: 48px;
    font-size: 12px;
}