.footer-bg {
    --color-background: 0, 0, 0;
    --color-foreground: 255, 255, 255;
}

.footer-bg {
    background-color: rgba(var(--color-background), 1);
}

.footer-top {
    padding: 60px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer-blocks {
    display: flex;
    flex-wrap: wrap;
    margin-left: -50px;
    justify-content: space-between;
}


.footer-block-item.has-logo {
    width: 28%;
    padding-left: 50px;
    margin-bottom: 30px;
}

.footer-block-item{
    width: 18%;
    padding-left: 50px;
    margin-bottom: 30px;
}

.footer-heading {
    color: rgba(var(--color-foreground), 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.footer-logo-text {
    max-width: 190px;
}

.footer-text {
    width: 100%;
}

.footer-logo {
    margin-bottom: 32px;
}

.footer-logo {
    margin-bottom: 32px;
}

.footer-newsletter {
    margin-top: 32px;
}

.footer-logo img {
    width: auto;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin: 0;
}

.footer-social-item:hover .icon {
    opacity: 0.6;
}

.footer-menu .footer-link {
    position: relative;
}

.footer-menu .footer-link::after {
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    right: 0;
    position: absolute;
    background-color: #000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    left: auto;
}

.footer-bg .footer-menu .footer-link::after {
    background-color: #fff;
}

.footer-menu .footer-link:hover::after {
    left: 0;
    width: 100%;
}

.footer-social-wrapper {
    margin-top: 24px;
}

.footer-social-wrapper .social-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    margin: 0;
}

.footer-social-wrapper .social-item svg {
    color: rgba(var(--color-foreground), 1);
}

.footer-bottom-menu {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
}

.footer-bottom {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 24px;
    padding-bottom: 24px;
}

.footer-bg .footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.7);
}

.footer-bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-bottom-inner.bottom-style-2 {
    flex-direction: column;
    flex-direction: column-reverse;
    gap: 16px;
}

.footer-widget {
    margin-top: 40px;
}

.payment-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 0;
    justify-content: center;
}

.payment-item svg {
    width: 40px;
    height: 40px;
}

@media (max-width: 991px) {
    .footer-block-item.has-logo,
    .footer-block-item {
        width: 33.33%;
    }
}

@media (max-width: 767px) {
    .footer-top {
        margin-bottom: 20px;
    }

    .footer-blocks div + div {
        margin-bottom: 20px;
    }


    .footer-block-item.has-logo,
    .footer-block-item {
        width: 100%;
    }

    .footer-menu {
        display: none;
        padding-bottom: 25px;
    }
    .footer-menu.open {
        display: block;
    }

    .footer-heading {
        margin-bottom: 20px;
    }

    .footer-menu-item {
        padding: 6px 0;
    }

    .footer-menu .footer-link:hover {
        text-decoration: none;
    }

    .footer-widget {
        margin-bottom: 32px;
        margin-top: 0;
    }

    .footer-bottom-inner {
        justify-content: center;
        flex-direction: column-reverse;
        gap: 16px;
    }

    .footer-newsletter {
        margin-top: 24px;
    }

    .footer-heading * {
        pointer-events: none;
    }
}