.footer-style-2 .footer-heading {
    color: rgba(var(--color-foreground), 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.footer-logo-text {
    max-width: 190px;
}

.footer-style-2 .footer-tex {
    width: 100%;
}

.footer-logo {
    margin-bottom: 32px;
}

.footer-style-2 .footer-logo {
    margin-bottom: 32px;
}

.footer-logo img {
    width: auto;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0;
}

.footer-newsletter-form {
    width: 100%;
    height: 54px;
    margin-top: 24px;
    overflow: hidden;
}

.footer-top-newsletter .footer-newsletter-form {
    margin-top: 0;
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-radius: var(--input-radius);
}

.top-newsletter-2 .footer-newsletter-form {
    border: 1px solid rgba(255, 255, 255, 0.7);
}

.footer-newsletter-input {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.64;
    letter-spacing: 0.25px;
    color: rgba(var(--color-foreground), 1);
    background-color: transparent;
    height: inherit;
    width: 100%;
    padding: 0 15px;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.footer-newsletter-input::-webkit-input-placeholder {
    color: rgba(var(--color-foreground), 1);
    opacity: 0.7;
}

.footer-newsletter-input:-ms-input-placeholder {
    color: rgba(var(--color-foreground), 1);
    opacity: 0.7;
}

.footer-newsletter-input:-moz-placeholder {
    color: rgba(var(--color-foreground), 1);
    opacity: 0.7;
}

.footer-newsletter-input:focus {
    opacity: 1;
}

.footer-newsletter-btn {
    width: 117px;
    min-width: 117px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(var(--color-foreground), 1);
    color: rgba(var(--color-background), 1);
    height: inherit;
    border-radius: none;
}

.footer-top-newsletter .footer-newsletter-btn {
    width: 260px;
    max-width: 260px;
}

.newsletter-btn-white {
    background-color: rgba(var(--color-background), 1);
    color: rgba(var(--color-foreground), 1);
}
.footer-social-wrapper {
    margin-top: 24px;
}

.footer-social {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    margin: 0;
}

.footer-social-item svg {
    color: rgba(var(--color-foreground), 1);
}

.footer-top {
    padding: 60px 0 84px;
}

.footer-bottom-menu {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
}

.footer-bottom {
    border-top: 1px solid #ddd;
    background-color: #F7F7F7;
    padding-top: 24px;
    padding-bottom: 24px;
}

.footer-bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-bottom-inner.bottom-style-2 {
    flex-direction: column;
    flex-direction: column-reverse;
    gap: 16px;
}

.footer-widget {
    margin-top: 40px;
}

.footer-payment {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 0;
    justify-content: center;
}

.footer-top-social {
    display: flex;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
}

.footer-top-newsletter {
    padding: 32px 0;
    border-bottom: 1px solid #ddd;
}

.footer-top-newsletter.top-newsletter-2 {
    background:  rgba(var(--color-foreground), 1);
}

.top-newsletter-2 .footer-social-text {
    color:  rgba(var(--color-background), 1);
}

.top-newsletter-2 .footer-newsletter-input {
    color: rgba(var(--color-background), 1);
}

.top-newsletter-2 .footer-newsletter-input::placeholder {
    color: rgba(var(--color-background), 1);
}


@media (min-width: 1200px) and (max-width: 1399px) {
    .footer-social-text {
        font-size: 28px;
    }
}

@media (min-width: 991px) and (max-width: 1199px) {
    .footer-social-text {
        font-size: 26px;
    }
}

@media (max-width: 991px) {
    .footer-top-newsletter .footer-newsletter-btn {
        width: 180px;
        max-width: 180px;
    }

    .footer-social-text {
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    .footer-menu {
        display: none;
        padding-bottom: 25px;
    }
    .footer-menu.open {
        display: block;
    }

    .footer-style-2 .footer-heading {
        margin-bottom: 20px;
    }

    .footer-menu-item {
        padding: 6px 0;
    }

    .footer-widget {
        margin-bottom: 32px;
        margin-top: 0;
    }

    .footer-bottom-inner {
        justify-content: center;
    }

    .footer-newsletter {
        margin-top: 24px;
    }

    .footer-heading * {
        pointer-events: none;
    }
}