.footer-grid {
    display: grid;
    grid-template-columns: auto auto auto 35%;
    grid-template-rows: auto;
    grid-template-areas: "second third fourth first";
    column-gap: var(--bs-gutter-x);
    row-gap: 24px;
}

.footer-grid-2 {
    grid-template-columns: 30% auto auto auto auto;
    grid-template-areas: "first second third fourth fifth";
}

.footer-grid-item:nth-child(1){
    grid-area: first;
}

.footer-grid-item:nth-child(2){
    grid-area: second;
}

.footer-grid-item:nth-child(3){
    grid-area: third;
}

.footer-grid-item:nth-child(4){
    grid-area: fourth;
}

.footer-grid-item:nth-child(5){
    grid-area: fifth;
}

.footer-grid-item:nth-child(6){
    grid-area: sixth;
}

.footer-style-2 .footer-heading {
    color: rgba(var(--color-foreground), 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.footer-logo-text {
    max-width: 190px;
}

.footer-style-2 .footer-text {
    width: 100%;
}

.footer-logo {
    margin-bottom: 32px;
}

.footer-style-2 .footer-logo {
    margin-bottom: 32px;
}

.footer-newsletter {
    margin-top: 32px;
}

.footer-logo img {
    width: auto;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin: 0;
}

.footer-social-item:hover .icon {
    opacity: 0.6;
}

.footer-menu .footer-link {
    position: relative;
}

.footer-menu .footer-link::after {
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    right: 0;
    position: absolute;
    background-color: #000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    left: auto;
}

.footer-menu .footer-link:hover::after {
    left: 0;
    width: 100%;
}

.footer-social-wrapper {
    margin-top: 24px;
}

.footer-social {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    margin: 0;
}

.footer-social-item svg {
    color: rgba(var(--color-foreground), 1);
}

.footer-top {
    padding: 60px 0 84px;
}

.footer-bottom-menu {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
}

.footer-bottom {
    border-top: 1px solid #ddd;
    background-color: #F7F7F7;
    padding-top: 24px;
    padding-bottom: 24px;
}

.footer-bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-bottom-inner.bottom-style-2 {
    flex-direction: column;
    flex-direction: column-reverse;
    gap: 16px;
}

.footer-widget {
    margin-top: 40px;
}

.footer-payment {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 0;
    justify-content: center;
}

@media (max-width: 767px) {
    .footer-menu {
        display: none;
        padding-bottom: 25px;
    }
    .footer-menu.open {
        display: block;
    }

    .footer-style-2 .footer-heading {
        margin-bottom: 20px;
    }

    .footer-menu-item {
        padding: 6px 0;
    }

    .footer-menu .footer-link:hover {
        text-decoration: none;
    }

    .footer-widget {
        margin-bottom: 32px;
        margin-top: 0;
    }

    .footer-bottom-inner {
        justify-content: center;
        flex-direction: column-reverse;
        gap: 16px;
    }

    .footer-newsletter {
        margin-top: 24px;
    }

    .footer-heading * {
        pointer-events: none;
    }
}









.footer-blocks {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 24px;
}

.footer-block-item.has-logo {
    min-width: calc(28% - 24px);
}

.footer-block-item{
    min-width: calc(18% - 24px);
}

@media (max-width: 991px) {  
    .footer-block-item.has-logo {
        min-width: 100%;
        margin-bottom: 30px;
    }  

    .footer-block-item {
        min-width: calc(50% - 24px);
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .footer-block-item {
        min-width: 100%;
        margin-bottom: 0;
    }
}