.hero-banner{
    --color-background: 0, 0, 0;
    --color-foreground: 255, 255, 255;
    --color-secondary-button-text: 255, 255, 255;
    --color-heading: 255, 255, 255;
    --color-subheading: 255, 255, 255;
    --color-secondary-button-text-hover: 255, 255, 255;
}

.hero-banner.hero-fixed-bg-3{
    --color-foreground: 0, 0, 0;
    --color-heading: 0, 0, 0;
    --color-secondary-button-text: 0, 0, 0;
    --color-secondary-button-text-hover: 0, 0, 0;
}

.hero-banner-2{
    --color-background: 255, 255, 255;
    --color-foreground: 0, 0, 0;
    --color-secondary-button-text: 0, 0, 0;
    --color-heading: 0, 0, 0;
    --color-secondary-button-border: 0, 0, 0;
    --color-secondary-button-text-hover: 0, 0, 0;
}


.hero-banner-2,
.hero-banner {
    width: 100%;
    height: 700px;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.hero-fixed-bg {
    background-image: url("/../assets/img/banner/hero.jpg");
}

.hero-fixed-bg-2 {
    background-image: url("/../assets/img/banner/hero-2.jpg");
}

.hero-fixed-bg-3 {
    background-image: url("/../assets/img/banner/hero-3.jpg");
}

.hero-fixed-bg-4 {
    background-image: url("/../assets/img/banner/hero-4.jpg");
}

.hero-fixed-bg-5 {
    background-image: url("/../assets/img/banner/hero-6.jpg");
}

.hero-banner .content-box {
    max-width: 610px;
}

.hero-banner .hero-heading {
    margin-top: 8px;
}

.hero-banner .hero-text {
    margin-top: 8px;
}

.hero-banner .hero-button {
    margin-top: 32px;
}

// Hero banner style 2
.hero-banner-2 .content-box {
    max-width: 450px;
    background-color: rgba(var(--color-background), 1);
    text-align: center;
    padding: 64px;
}

.hero-banner-2 .hero-image {
    position: relative;
    height: 100%;
}

.hero-banner-2 .hero-image img {
    object-fit: cover;
    object-position: center;
}

.hero-banner .banner-container,
.hero-banner-2 .banner-container {
    display: flex;
    align-items: center;
    height: inherit;
}

.hero-banner-2 .hero-subheading {
    margin-bottom: 16px;
}

.hero-banner-2 .hero-text,
.hero-banner-2 .hero-heading {
    margin-bottom: 24px;
}

.hero-banner-2 .flex-bannar {
    justify-content: flex-start;
}

// Counter up
.counter-list {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0;
}

.counter-list {
    margin-top: 32px;
}

.counter-item {
    width: 64px;
    height: 64px;
    border: 2px solid rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
}

.counter-text {
    line-height: 1;
}

@media (max-width: 991px) {
    .hero-banner .hero-heading {
        font-size: 42px;
    }

    .hero-banner .hero-text {
        max-width: 520px;
    }

    .hero-banner-2 .content-box {
        max-width: 400px;
        padding: 48px;
    }

    .hero-banner-2 .hero-subheading {
        font-size: 16px;
    }

    .hero-banner-2 .hero-heading {
        font-size: 28px;
    }

    .hero-banner-2 .hero-text {
        font-size: 14px;
    }

    .hero-banner-2 .button, 
    .hero-banner-2 .button:hover, 
    .hero-banner-2 .button:focus {
        min-width: 180px;
    }
}

@media (max-width: 767px) {
    .hero-fixed-bg {
        height: 600px;
    }

    .hero-banner .hero-heading {
        font-size: 38px;
    }

    .hero-banner .hero-text {
        max-width: 450px;
    }

    .hero-banner-2 .content-box {
        max-width: 330px;
    }

    .hero-banner-2 .hero-subheading {
        font-size: 14px;
    }

    .hero-banner-2 .hero-heading {
        font-size: 24px;
    }

    .hero-banner-2 .hero-text {
        font-size: 12px;
    }

    .hero-banner-2 .button, 
    .hero-banner-2 .button:hover, 
    .hero-banner-2 .button:focus {
        min-width: 170px;
        height: 50px;
        font-size: 13px;
    }
}

@media (max-width: 575px) {
    .hero-banner {
        background-position: center left 30%;
    }

    .hero-banner .hero-heading {
        font-size: 28px;
    }

    .hero-banner .hero-text {
        font-size: 13px;
    }

    .hero-banner-2 .content-box {
        max-width: 240px;
        padding: 40px 10px;
    }

    .hero-banner-2 .hero-subheading {
        font-size: 12px;
    }

    .hero-banner-2 .hero-heading {
        font-size: 18px;
    }

    .hero-banner-2 .button, 
    .hero-banner-2 .button:hover, 
    .hero-banner-2 .button:focus {
        min-width: 160px;
        height: 48px;
        font-size: 12px;
    }

    .counter-item {
        width: 56px;
        height: 56px;
    }

    .count-days {
        font-size: 16px;
    }

    .counter-text {
        font-size: 10px;
    }
}

@media (max-width: 425px) {
    .hero-banner .hero-heading {
        font-size: 20px;
    }

    .hero-banner .hero-text {
        font-size: 12px;
    }

    .hero-banner .button, 
    .hero-banner .button:hover, 
    .hero-banner .button:focus {
        min-width: 170px;
        height: 48px;
        font-size: 12px;
    }
}