.hero-fixed-bg{
    --color-background: 0, 0, 0;
    --color-foreground: 255, 255, 255;
    --color-secondary-button-text: 255, 255, 255;
    --color-heading: 255, 255, 255;
}

.hero-fixed-bg{
    --color-secondary-button-text-hover: 255, 255, 255;
}

.hero-fixed-bg {
    background-image: url("/../assets/img/banner/hero.jpg");
    width: 100%;
    height: 700px;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.hero-fixed-bg .flex-bannar {
    justify-content: flex-start;
}

.hero-fixed-bg .content-box {
    max-width: 610px;
}

.hero-fixed-bg .hero-heading {
    margin-bottom: 8px;
}

.hero-fixed-bg .hero-text {
    margin-bottom: 32px;
}

@media (max-width: 991px) {
    .hero-fixed-bg .hero-heading {
        font-size: 42px;
    }

    .hero-fixed-bg .hero-text {
        max-width: 520px;
    }
}

@media (max-width: 767px) {
    .hero-fixed-bg {
        height: 600px;
    }

    .hero-fixed-bg .hero-heading {
        font-size: 38px;
    }

    .hero-fixed-bg .hero-text {
        max-width: 450px;
    }
}

@media (max-width: 575px) {
    .hero-fixed-bg .hero-heading {
        font-size: 28px;
    }

    .hero-fixed-bg .hero-text {
        font-size: 13px;
    }
}

@media (max-width: 425px) {
    .hero-fixed-bg .hero-heading {
        font-size: 20px;
    }

    .hero-fixed-bg .hero-text {
        font-size: 12px;
    }

    .hero-fixed-bg .button, 
    .hero-fixed-bg .button:hover, 
    .hero-fixed-bg .button:focus {
        min-width: 170px;
        height: 48px;
        font-size: 12px;
    }
}