.product-nav-next:hover, 
.product-nav-prev:hover {
    --color-background: 0, 0, 0;
    --color-foreground: 255, 255, 255;
}

.product-slide-dots{
    --color-background: 0, 0, 0;
}

.section-product-slider {
    display: block;
}

.product-slider .product-card-3, 
.product-slider .product-card-2, 
.product-slider .product-card {
    margin-top: 48px;
}

.product-nav-next, 
.product-nav-prev {
    position: absolute;
    top: 50%;
    left: auto;
    z-index: 2;
    transform: translateY(-50%);
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    transition: all 0.4s;
    opacity: 0;
    visibility: hidden;
    color: rgba(var(--color-foreground), 1);
    box-shadow: rgba(0, 0, 0, 0.25) 1px 0px 12px 0px;
}

.product-nav-next:hover, 
.product-nav-prev:hover {
    background-color: rgba(var(--color-background), 1);
    color: rgba(var(--color-foreground), 1);
    
}

.product-nav-next{
    left: auto;
    right: 10%;
}

.section-product-slider:hover .product-nav-next {
    left: auto;
    right: 12%;
    opacity: 1;
    visibility: visible;
}

.product-nav-prev {
    right: auto;
    left: 10%;
}

.section-product-slider:hover .product-nav-prev {
    right: auto;
    left: 12%;
    opacity: 1;
    visibility: visible;
}

.product-nav-next.swiper-button-disabled:hover,
.product-nav-prev.swiper-button-disabled:hover {
    background-color: rgba(var(--color-background), 0.5);
    color: rgba(var(--color-foreground), 0.8);
}

.product-slide-dots {
    text-align: center;
}

.product-slide-dots .swiper-pagination-bullet {
    width: 12px;
    height: 8px;
    background: rgba(var(--color-background), 0.7);
    border-radius: 8px;
    cursor: pointer;
    transition: all ease 0.3s;
    bottom: 16px;
}

.swiper-horizontal > .product-slide-dots.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 6px;
}

.product-slide-dots .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 24px;
    opacity: 1;
}