.category-block {
    --color-background: 247, 247, 247;
}

.product-nav-next, 
.product-nav-prev {
    --color-background: 255, 255, 255;
    --color-foreground: 0, 0, 0;
}

.product-nav-next:hover, 
.product-nav-prev:hover {
    --color-background: 0, 0, 0;
    --color-foreground: 255, 255, 255;
}

.product-slide-dots{
    --color-background: 0, 0, 0;
}

.product-slider-2 {
    --color-background: 197, 227, 220;
}

.product-slider-2 .card-cart-button:hover,
.product-slider-2 .card-quickview-button:hover {
    --color-background: 255, 255, 255;
}

.section-product-slider {
    display: block;
    overflow: hidden;
}

.product-slider .product-card-3, 
.product-slider .product-card-2, 
.product-slider .product-card {
    margin-top: 48px;
}

.product-nav-next, 
.product-nav-prev {
    position: absolute;
    top: 50%;
    left: auto;
    z-index: 2;
    transform: translateY(-50%);
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(var(--color-background), 1);;
    transition: all 0.4s;
    opacity: 0;
    visibility: hidden;
    color: rgba(var(--color-foreground), 1);
}

.product-nav-next:hover, 
.product-nav-prev:hover {
    background-color: rgba(var(--color-background), 1);
    color: rgba(var(--color-foreground), 1);
    
}

.product-nav-next {
    right: -80px;
}

.product-nav-prev {
    left: -80px;
}


.product-nav-next.swiper-button-disabled:hover ,
.product-nav-prev.swiper-button-disabled:hover {
    background-color: rgba(var(--color-background), 0.5);
    color: rgba(var(--color-foreground), 0.8);
}

.section-product-slider:hover .product-nav-next{
    right: -60px;
    opacity: 1;
    visibility: visible;
}

.section-product-slider:hover .product-nav-prev{
    left: -60px;
    opacity: 1;
    visibility: visible;
}

.product-slider-2 {
    background: rgba(var(--color-background), 1);
    padding-top: 80px;
    padding-bottom: 80px;
}

.product-slider-button {
    margin-top: 24px;
    display: block;
}

.product-slider-2 .swiper-pagination.slideshow-dots {
    bottom: -32px;
    display: flex;
    justify-content: center;
}

.product-slider-2 .section-heading {
    font-size: 42px;
}

// collection slider
.category-block {
    background-color: rgba(var(--color-background), 1);
    display: block;
    text-align: center;
    padding: 18px 56px;
    border-radius: 6px;
    white-space: nowrap;
}

.category-block-2 img {
    width: 48px;
    height: 48px;
}

.category-block-2 .collection-title {
    display: block;
    margin-top: 16px;
}


@media (min-width: 1400px) and (max-width: 1450px) {
    .product-nav-next {
        right: -60px;
    }

    
    .section-product-slider:hover .product-nav-next{
        right: -40px;
    }

    .product-nav-prev {
        left: -60px;
    }

    .section-product-slider:hover .product-nav-prev{
        left: -40px;
        opacity: 1;
        visibility: visible;
    }
}

@media (max-width: 1399px) {
    .product-nav-next {
        right: -60px;
    }

    
    .section-product-slider:hover .product-nav-next{
        right: -44px;
    }

    .product-nav-prev {
        left: -60px;
    }

    .section-product-slider:hover .product-nav-prev{
        left: -44px;
        opacity: 1;
        visibility: visible;
    }
}

@media (max-width: 1279px) {
    .product-nav-next {
        right: -30px;
    }

    .section-product-slider:hover .product-nav-next{
        right: -15px;
    }

    .product-nav-prev {
        left: -30px;
    }

    .section-product-slider:hover .product-nav-prev{
        left: -15px;
        opacity: 1;
        visibility: visible;
    }

    .product-slider-2 .section-heading {
        font-size: 36px;
    }
}

@media (max-width: 1100px) {
    .product-nav-next {
        right: 30px;
    }

    .section-product-slider:hover .product-nav-next{
        right: 15px;
    }

    .product-nav-prev {
        left: 30px;
    }

    .section-product-slider:hover .product-nav-prev{
        left: 15px;
    }
}

@media (max-width: 991px) {
    .product-slider .swiper {
        overflow: visible;
    }

    .product-slider-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 32px;
    }

    .product-slider-2 .section-heading {
        font-size: 32px;
        max-width: calc(80% - 32px);
    }

    .product-slider-button {
        max-width: 20%;
        margin-top: 0;
    }
}

@media (max-width: 767px) {
    .product-slider-2 .section-heading {
        font-size: 28px;
    }
}

@media (min-width: 575px) and (max-width: 767px) {
    .product-slider .card-quickview-icon .icon_24,
    .product-slider .card-cart-icon .icon_24 {
        width: 20px;
        height: 20px;
    }

    .product-slider .cart-button-text {
        font-size: 12px;
    }

    .product-slider .card-cart-button {
        gap: 8px;
    }
}

@media (max-width: 425px) {
    .product-slider .cart-button-text.text_14 {
        font-size: 10px;
    }

    .product-slider .card-quickview-icon .icon_24,
    .product-slider .card-cart-icon .icon_24 {
        width: 16px;
        height: 16px;
    }

    .product-slider-2 .section-heading {
        font-size: 22px;
        max-width: calc(75% - 32px);
    }

    .product-slider-button {
        max-width: 25%;
    }

}

