.product-nav-next:hover, 
.product-nav-prev:hover {
    --color-background: 0, 0, 0;
    --color-foreground: 255, 255, 255;
}

.product-slide-dots{
    --color-background: 0, 0, 0;
}

.section-product-slider {
    display: block;
    overflow: hidden;
}

.product-slider .product-card-3, 
.product-slider .product-card-2, 
.product-slider .product-card {
    margin-top: 48px;
}

.product-nav-next, 
.product-nav-prev {
    position: absolute;
    top: 50%;
    left: auto;
    z-index: 2;
    transform: translateY(-50%);
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    transition: all 0.4s;
    opacity: 0;
    visibility: hidden;
    color: rgba(var(--color-foreground), 1);
}

.product-nav-next:hover, 
.product-nav-prev:hover {
    background-color: rgba(var(--color-background), 1);
    color: rgba(var(--color-foreground), 1);
    
}

.product-nav-next {
    right: -80px;
}

.product-nav-prev {
    left: -80px;
}


.product-nav-next.swiper-button-disabled:hover ,
.product-nav-prev.swiper-button-disabled:hover {
    background-color: rgba(var(--color-background), 0.5);
    color: rgba(var(--color-foreground), 0.8);
}

.section-product-slider:hover .product-nav-next{
    right: -60px;
    opacity: 1;
    visibility: visible;
}

.section-product-slider:hover .product-nav-prev{
    left: -60px;
    opacity: 1;
    visibility: visible;
}


@media (min-width: 1400px) and (max-width: 1450px) {
    .product-nav-next {
        right: -60px;
    }

    
    .section-product-slider:hover .product-nav-next{
        right: -40px;
    }

    .product-nav-prev {
        left: -60px;
    }

    .section-product-slider:hover .product-nav-prev{
        left: -40px;
        opacity: 1;
        visibility: visible;
    }
}

@media (max-width: 1399px) {
    .product-nav-next {
        right: -60px;
    }

    
    .section-product-slider:hover .product-nav-next{
        right: -44px;
    }

    .product-nav-prev {
        left: -60px;
    }

    .section-product-slider:hover .product-nav-prev{
        left: -44px;
        opacity: 1;
        visibility: visible;
    }
}

@media (max-width: 1279px) {
    .product-nav-next {
        right: -30px;
    }

    .section-product-slider:hover .product-nav-next{
        right: -15px;
    }

    .product-nav-prev {
        left: -30px;
    }

    .section-product-slider:hover .product-nav-prev{
        left: -15px;
        opacity: 1;
        visibility: visible;
    }
}

@media (max-width: 1100px) {
    .product-nav-next {
        right: 30px;
    }

    .section-product-slider:hover .product-nav-next{
        right: 15px;
    }

    .product-nav-prev {
        left: 30px;
    }

    .section-product-slider:hover .product-nav-prev{
        left: 15px;
    }
}

