.product_modal {
    --color-background: 0, 0, 0;
}

.review-yellow{
    --color-foreground: 255, 199, 60;
}

.discount-badge{
    --color-foreground: 255, 255, 255;
    --color-background: 227, 73, 73;
}

.product-variant-size label:hover, 
.product-variant-size input:checked + label {
    --color-background: 0, 0, 0;
    --color-foreground:255, 255, 255;
}

.product-form-buttons .button-secondary{
    --color-secondary-button-border: 0, 0, 0;
}

.product-details-slider {
    display: flex;
    row-gap: var(--bs-gutter-y);
    column-gap: var(--bs-gutter-x);
    width: 100%;
    height: 600px;
}

.product-details-slider .img-gallery-thumb {
    height: 100%;
    min-width: 86px;
}

.product-details-slider .product-img-thumb {
    gap: 24px;
}

.product-details-slider .img-thumb-slide {
    min-width: 86px;
    max-height: 110px;
}
.product-details > * + * {
    margin-top: 15px;
}

.product-variant {
    margin-bottom: 20px;
} 

.product-sku {
    text-transform: uppercase;
    position: relative;
    padding-left: 16px;
    margin-left: 16px;
}

.product-sku:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 16px;
    background-color: #ddd;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.product-price {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
}

.discount-badge{
    background: rgba(var(--color-background), 1);
    color: rgba(var(--color-foreground), 1);;
    padding: 4px 12px;
    border-radius: 4px;
    display: block;
    margin-top: 4px;
}

.product-variant-size .variant-list,
.product-variant-color .variant-list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin: 0;
}

.product-variant input[type=radio] {
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    position: absolute;
    height: 1px;
    width: 1px;
}

.product-variant-color label {
    border: none;
    min-height: auto;
    min-width: auto;
    height: 48px;
    width: 48px;
    padding: 0;
    border-radius: 100%;
    outline: 1.5px solid transparent;
    outline-offset: 3px;
    cursor: pointer;
}

.product-variant-color label:hover, 
.product-variant-color input:checked + label {
    outline: 1px solid #000;
}

.product-variant-size .variant-list{
    gap: 8px;
}

.product-variant-size .variant-label {
    border: 1px solid rgba(var(--color-button-border), 0.2);
    padding: 4px 16px;
    cursor: pointer;
}

.product-variant-size label:hover, 
.product-variant-size input:checked + label {
    background-color: rgba(var(--color-background), 1);
    color: rgba(var(--color-foreground), 1);
}

.product-form-buttons,
.button-compare,
.button-wishlist,
.button-compare-wishlist,
.product-variant-size-guide,
.product-size-guide {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    color: rgba(var(--color-foreground), 1);
}

.compare-price-wrap {
    text-align: center;
}

.button-compare-wishlist,
.product-variant-size-guide{
    gap: 48px;
}

.product-quantity .quantity-heading,
.product-variant-wrapper .variant-heading {
    margin-bottom: 8px;
}

.product-form-buttons{
    gap: 24px;
}


@media (max-width: 767px) {
    .product-gallery-grid {
        display: flex;
        flex-direction: column-reverse;
        row-gap: 24px;
    }

    .product-img-thumb {
        display: flex;
        column-gap: var(--bs-gutter-x);
    }

    
    .product-img-thumb .img-thumb {
        width: 100%;
        height: 100%;
    }

    .product-img-thumb div + div {
        margin-top: 0;
    }
}

@media (max-width: 575px) {
    .product-popup-modal__content-info .product-details .product-title {
        font-size: 20px;
    }

    .variant-heading .text_16,
    .product-stock.text_16,
    .product-vendor.text_16 {
        font-size: 14px;
    }

    .regular-price.text_42 {
        font-size: 32px;
    }

    .compare-price-wrap .compare-price.text_18 {
        font-size: 16px;
    }

    .compare-price-wrap .discount-badge.text_12 {
        font-size: 10px;
    }

    .product-variant-color label {
        height: 32px;
        width: 32px;
    }
}




