.slider-arrow {
    position: absolute;
    top: 50%;
    left: 0;
    right: auto;
    z-index: 9;
    cursor: pointer;

    @include prefix(transform, translateY(-50%), ms webkit spec);

}

.arrow-next {
    left: auto;
    right: 0;
}

.slideshow-dots .swiper-pagination-bullet {
    width: 12px;
    height: 8px;
    background: #000;
    opacity: 0.4;
    margin: 0 6px;
    border-radius: 8px;
    cursor: pointer;
    transition: all ease 0.3s;
    bottom: 16px;
}

.slideshow-dots .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 24px;
    opacity: 1;
}

[data-animation] {
    opacity: 0;
}

.animate__animated[data-animation] {
    opacity: 1;
}

.slide-content [data-animation] {
    &:first-child {
        animation-delay: 0s;
    }

    &:nth-child(2) {
        animation-delay: 0.2s;
    }

    &:nth-child(3) {
        animation-delay: 0.35s;
    }

    &:last-child {
        animation-delay: 0.45s;
    }
}

.slide-container {
    display: flex;
    height: inherit;
    justify-content: center;
    align-items: center;
}

.slide-content {
    max-width: 510px;
    text-align: center;
}

.slider-subheading {
    letter-spacing: 5px;
}

.slider-heading {
    margin-top: 8px;
}

.slider-text {
    margin-top: 16px;
}

.slider-buttons {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
}
