.testimonial-pagination{
    --color-background: 0, 0, 0;
}

.testimonial-next:hover, 
.testimonial-prev:hover {
    --color-background: 0, 0, 0;
    --color-foreground: 255, 255, 255;
}

.section-testimonial {
    display: block;
}

.testimonial-wrap {
    text-align: center;
    margin-top: 48px;
    display: block;
}

.testimonial-image img {
    width: 100px;
    height: 100px;
}

.testimonial-icon-wrap {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.testimonial-text {
    margin-top: 24px;
}

.testimonial-reviewer {
    display: flex;
    gap: 5px;
    justify-content: center;
    margin-top: 24px;
}

.testimonial-prev,
.testimonial-next {
    position: absolute;
    top: 50%;
    left: auto;
    z-index: 2;
    transform: translateY(-50%);
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    transition: all 0.4s;
    box-shadow: 0 0 4px -1px;
    color: rgba(var(--color-foreground), 1);
    
}

.testimonial-next:hover, 
.testimonial-prev:hover {
    background-color: rgba(var(--color-background), 1);
    color: rgba(var(--color-foreground), 1);
}

.testimonial-prev{
    right: auto;
    left: 12%;
}

.testimonial-next {
    left: auto;
    right: 12%;
}

.container-narrow ~ .testimonial-nav .testimonial-next {
    left: auto;
    right: 23%;
}

.container-narrow ~ .testimonial-nav .testimonial-prev {
    right: auto;
    left: 23%;
}

.testimonial-next.swiper-button-disabled:hover,
.testimonial-prev.swiper-button-disabled:hover {
    background: transparent;
}

.testimonial-next.swiper-button-disabled,
.testimonial-prev.swiper-button-disabled{
    border: 1px solid rgba(var(--color-button-border), 0.1);
}

.testimonial-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 8px;
    background: rgba(var(--color-background), 0.7);
    border-radius: 8px;
    cursor: pointer;
    transition: all ease 0.3s;
    bottom: 16px;
}

.swiper-horizontal > .testimonial-pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 6px;
}

.testimonial-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 24px;
    opacity: 1;
}


@media (max-width: 425px) {
    .reviewer-desig,
    .reviewer-name,
    .testimonial-text {
        font-size: 14px;
    }
}