.product_modal {
  --color-background: 0, 0, 0; }

.review-yellow {
  --color-foreground: 255, 199, 60; }

.discount-badge {
  --color-foreground: 255, 255, 255;
  --color-background: 227, 73, 73; }

.product-details-nav .arrow-prev,
.product-details-nav .arrow-next,
.product-variant-size label:hover,
.product-variant-size input:checked + label {
  --color-background: 0, 0, 0;
  --color-foreground:255, 255, 255; }

.product-form-buttons .button-secondary {
  --color-secondary-button-border: 0, 0, 0; }

.product-details-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.thumb-img-wrap {
  width: 100px;
  margin-right: 20px; }

.large-img-wrap {
  width: calc(100% - 100px - 20px); }

.thumb-image-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px; }

.thumb-img-wrap .swiper-vertical {
  min-height: 100%; }

.product-details-nav {
  grid-area: nav;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 8px; }

.product-details-nav .arrow-prev,
.product-details-nav .arrow-next {
  background: rgba(var(--color-background), 1);
  color: rgba(var(--color-foreground), 1);
  width: 42px;
  height: 42px;
  border-radius: 50px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.product-details-nav .swiper-button-disabled {
  background: rgba(var(--color-background), 0.7); }

.product-details > * + * {
  margin-top: 15px; }

.product-variant {
  margin-bottom: 20px; }

.product-sku {
  text-transform: uppercase;
  position: relative;
  padding-left: 16px;
  margin-left: 16px; }

.product-sku:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 16px;
  background-color: #ddd;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.product-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 16px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.discount-badge {
  background: rgba(var(--color-background), 1);
  color: rgba(var(--color-foreground), 1);
  padding: 4px 12px;
  border-radius: 4px;
  display: block;
  margin-top: 4px; }

.product-variant-size .variant-list,
.product-variant-color .variant-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 12px;
  margin: 0; }

.product-variant input[type=radio] {
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px; }

.product-variant-color label {
  border: none;
  min-height: auto;
  min-width: auto;
  height: 48px;
  width: 48px;
  padding: 0;
  border-radius: 100%;
  outline: 1.5px solid transparent;
  outline-offset: 3px;
  cursor: pointer; }

.product-variant-color label:hover,
.product-variant-color input:checked + label {
  outline: 1px solid #000; }

.product-variant-size .variant-list {
  gap: 8px; }

.product-variant-size .variant-label {
  border: 1px solid rgba(var(--color-button-border), 0.2);
  padding: 4px 16px;
  cursor: pointer; }

.product-variant-size label:hover,
.product-variant-size input:checked + label {
  background-color: rgba(var(--color-background), 1);
  color: rgba(var(--color-foreground), 1); }

.product-form-buttons,
.button-compare,
.button-wishlist,
.button-compare-wishlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
  color: rgba(var(--color-foreground), 1); }

.compare-price-wrap {
  text-align: center; }

.button-compare-wishlist {
  gap: 48px; }

.product-quantity .quantity-heading,
.product-variant-wrapper .variant-heading {
  margin-bottom: 8px; }

.product-form-buttons {
  gap: 24px; }

@media (max-width: 767px) {
  .product-details-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    row-gap: 24px; } }

@media (max-width: 575px) {
  .product-popup-modal__content-info .product-details .product-title {
    font-size: 20px; }
  .product-quantity .quantity-heading .text_16,
  .product-variant-size .variant-label.text_16,
  .variant-heading .text_16,
  .product-stock.text_16,
  .product-vendor.text_16 {
    font-size: 14px; }
  .regular-price.text_42 {
    font-size: 32px; }
  .compare-price-wrap .compare-price.text_18 {
    font-size: 16px; }
  .compare-price-wrap .discount-badge.text_12 {
    font-size: 10px; }
  .product-variant-color label {
    height: 32px;
    width: 32px; }
  .button-compare-wishlist {
    gap: 20px; }
  .product-form-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

@media (max-width: 470px) {
  .buy-it-now-btn,
  .add-to-cart-button {
    width: 100%; }
  .buy-it-now-btn .button,
  .add-to-cart-button .button {
    width: 100%; }
  .product-form-buttons {
    gap: 20px; } }
